// Settings
@import 'libs/vars';
@import 'libs/skel';
@import 'libs/functions';
@import 'libs/mixins';


// breakpoint
@include skel-breakpoints((
    xlarge: '(max-width: 1680px)',
    large: '(max-width: 1280px)',
    medium: '(max-width: 980px)',
    small: '(max-width: 736px)',
    xsmall: '(max-width: 480px)'
));

@include skel-layout((
    reset: 'full',
    boxModel: 'border',
    grid: ( gutters: 1em )
));

// Base
@import 'base/page';
@import 'base/typo';

// Components externes
@import '../../node_modules/react-toastify/scss/main';

// Components
@import 'components/sidebar';
@import 'components/textinput';
@import 'components/skillbar';
@import 'components/aggrid';
@import 'components/statistiquestest';
@import 'components/tabs';
@import 'components/playervideo';
@import 'components/cards';
@import 'components/hamburger';
@import 'components/icon';
@import 'components/tooltip';
@import 'components/modals';
@import 'components/treedoc';

// Pages
@import 'pages/home';
@import 'pages/profil';
@import 'pages/contenu';
@import 'pages/help';
@import 'pages/offers';

// Layouts
@import 'layouts/main';
@import 'layouts/wrapper';
@import 'layouts/menu';
@import 'layouts/header';

