/* Basic */

// MSIE: Required for IEMobile.
@-ms-viewport {
    width: device-width;
}

// MSIE: Prevents scrollbar from overlapping content.
body {
    -ms-overflow-style: scrollbar;
    z-index: 1000;
}

// Ensures page width is always >=320px.
@include breakpoint(xsmall) {
    html, body {
        min-width: 320px;
        z-index: 1000;
    }
}

body {
    margin: 0;
    background: _palette(bg-alt);
    z-index: 1000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // Prevents animation/transition "flicker" on page load.
    // Automatically added/removed by js/main.js.
        &.is-loading {
            *, *:before, *:after {
                @include vendor('animation', 'none !important');
                @include vendor('transition', 'none !important');
            }
        }
}

/* Barre de défilement */
body::-webkit-scrollbar {
  width: 7px; /* Largeur de la scrollbar */
  background: rgba(255, 255, 255, 0); /* Couleur de fond légèrement transparente */
}

/* Poignée de défilement */
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* Couleur de la poignée */
  border-radius: 10px; /* Arrondi de la poignée */
}

/* Lorsque la souris survole la poignée */
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Couleur de la poignée au survol */
}