.containerhelppage {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.containeraccordeonhelp {
  padding-top: (_size(section-spacing) * 1.2);
  padding-bottom: (_size(section-spacing) * 1.2);
}