.homepage {
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    margin-bottom: 0%;
    margin-top: 0%;
    z-index: 100000;
}

@media (max-width:900px) {
    .homepage {
    width: 100%;
    height: 100%;
    background-color: _palette(bg-alt);
    }
}

.homepage-activate {
    width: 100%;
    height: 100%;
    background-color: _palette(bg-alt);
    padding-left: 2%;
    padding-right: 2%;
}

.homepageskeleton {
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    margin-left: 2%;
    padding-right: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    z-index: 100000;
}

.container {
    background-color: _palette(bg-alt);
}

.containermainpage {
    width: 100%;
}

.containerdocument {
    padding-bottom: (_size(section-spacing) * 1.2);
    padding-top: (_size(section-spacing) * 1.2);
}

.contenumainpage {
    width: 100%;
    padding-left: (_size(section-spacing));
    padding-right: (_size(section-spacing));
    padding-bottom: (_size(section-spacing) * 1.2);
}

.statmainpage {
    width: 100%;
    padding-left: (_size(section-spacing));
    padding-right: (_size(section-spacing));
    padding-bottom: (_size(section-spacing) * 1.2);
}

.containermydoc {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.containerprofilpage {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.headermain {
    display: flex;
    justify-content: center;
    width: 10%;
    background-color: _palette(bg-alt);
    border: solid 1px _palette(border);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 0px;

    h1, h2, h3, h4, h5, h6, p {
        text-align: center;
        padding-top: 10px;
    }
}

.headerdoc {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: _palette(bg-alt);
    border: solid 1px _palette(border);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 0px;
    padding-top: 0;

    h1, h2, h3, h4, h5, h6, p {
        text-align: center;
        //padding-top: 10px;
    }
}

.iconhelp {
    font-size: 28px;
}

@media (max-width:900px) {
    .iconhelp {
        font-size: 24px;
    }
}

@media (max-width:600px) {
    .iconhelp {
        font-size: 20px;
    }
}

// presentation texte + bouton singup

.blockpresentationtitle {
    width:70%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:5vh
}

.titlehomepage {
    font-size: 1.2em;
    text-align: center;
}

.subtitlehomepage {
    text-align:center;
    padding-top:1vh;
    padding-bottom:1vh;
    font-size:1.2em;
}

.iconboutonsignup {
    font-size: 20px;
}

// banniere 4 icon presentation

.blockiconpresentation {
    width:20%;
    padding-bottom:5vh;
    padding-top:1vh;
}

.centericonpresentation {
    display: flex;
    justify-content: center;
}

.blockfullpresentationbanniere {
    width:100%;
    display:flex;
    justify-content:space-around;
    margin-left:auto;
    margin-right:auto;
    background-color: _palette(accent-3);
    padding-top: (_size(section-spacing) * 0.5);
    padding-bottom: (_size(section-spacing) * 0.4);

    p {
        text-align:center;
        margin-top:3%;
        margin-bottom:0;
        font-size:1.2em;
        line-height: 1.5;
    }

}

.iconpresentationhome {
    font-size: 40px;
    color: white;
}

// bloc presentation fonctionnalites

.fonctiohome {
    width: 22%;

    p {
        text-align: justify;
        font-size: 0.9em;
    }
    h3 {
        color: white
    }
}

.blocfonctio {
    display:flex;
    justify-content:space-around;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-top: (_size(section-spacing) * 1.2);
    padding-bottom: (_size(section-spacing) * 1);
    background-color: _palette(accent-4);
}

.linkfonctio {
    font-weight:bold;
    color: #232323
}

// contributeur home

.blockcontributeurhome {
    padding-top: (_size(section-spacing) * 1.2);
    padding-bottom: (_size(section-spacing) * 1.2);
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.titlecontributeur {
    text-align: center;
    margin-bottom: (_size(section-spacing) * 1.2)
}

// accordeon question et FAQ

.blockaccordeon {
    padding-top:(_size(section-spacing) * 1.2);
    padding-bottom: (_size(section-spacing) * 1.2);
    width:100%;
    margin-left:auto;
    margin-right:auto;

    h2 {
        text-align: center;
        margin-bottom: (_size(section-spacing) * 1.2);
    }
}

.accordeonstyle {
    margin-bottom: 2%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: _palette(accent-4);
}

.accordelonicon {
    color: #ffffff;
    font-size: 30px;
}

.accordeondetails {
    border-top: solid 1px #ffffff;
    margin-bottom:2%;
    width:40%
}

// footer

.footerhome {
    width:100%;
    background-color: _palette(accent-3);
    padding-top: (_size(section-spacing) * 1.2);
    padding-bottom: (_size(section-spacing) * 1.2);
    display: flex;
    justify-content: space-around;
}