.offersblock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: _palette(accent-3);
  gap: 2%;
}

.offercontainer {
  background-color: _palette(accent-3);
  margin-top: (_size(section-spacing) * 1.2);
  margin-bottom: (_size(section-spacing) * 1.2);
  padding-top: (_size(section-spacing) * 0.6);
  padding-bottom: (_size(section-spacing) * 0.6);
}

.uniqueblockoffer {

  p {
    font-size: 0.7em;
  }

  h6 {
    font-size: 0.8em;
    color: white;
    text-align: center;
    margin-bottom: 0;
  }
}

.textoffer {
  display: flex;
  justify-content: flex-start;
}

.subtitlleoffer {
  padding: 0;
  margin: 0;
  font-size: 0.6em;
  font-style: italic;
  color: dimgray;
  text-align: center;
  margin-bottom: (_size(section-spacing) * 0.6);
}

.priceoffer {
  color:_palette(accent-4);
  font-weight: bold;
}

.priceofferentreprise {
  color:_palette(accent-4);
  font-weight: bold;
  text-align: center;
  font-size: 0.7em;
}

.buttoncontactoffer {
  margin-bottom: (_size(section-spacing) * 0.4);
  display: flex;
  justify-content: center;
}