.lienprofil {
    display:flex;
    justify-content:space-between;
    background-color:#3B3B3B;
    padding-top:2%;
    padding-bottom:2%;
    margin-top: 2%;
    align-items: center;
    cursor:pointer;

    &:hover {
        background-color: _palette(accent-3);
        color:_palette(accent-4)
    }
}

.lienprofil h6 {
    margin: 0 0 0 0;
    margin-left: 5%;
}

.lienprofilproposition {
    display:flex;
    justify-content:space-between;
    background-color:#3B3B3B;
    padding-top:2%;
    padding-bottom:2%;
    margin-top: 2%;
    cursor:pointer;

    &:hover {
        background-color: #ffffff21;
        color:_palette(accent-3)
    }
}

.lienprofilproposition h6 {
    margin: 0 0 0 0;
    margin-left: 5%;
}

.headerpartiedroitinfo {
    margin-top:2%;
    margin-bottom:3%;
    width:100%
}

.headerpartiedroitinfo h6 {
    margin:0 0 0 0;
    font-size:0.8em;
    text-align:left
}

.headerpartiedroitinfo p {
    color:_palette(accent-3);
    margin:0 0 0 0;
    font-size:1.2em
}

.lienticks {
    display:flex;
    justify-content:space-between;
    background-color:#3B3B3B;
    padding-top:1%;
    padding-bottom:1%;
    margin-top: 2%;

    &:hover {
        border: 1px solid Graytext;
    }
}

.lienticks h6 {
    margin: 0 0 0 0;
    margin-left: 5%;
}