.cardcomponent {
    background-color:#1a191975;
    margin-top: 2%;
    border: 1px solid #95959550;
    border-radius: 5px;
}

.cardgrid {
    position: relative;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 5%;
}


.cardheader {
    display: flex;
    justify-content: space-between;
    background-color: #1a19198e;
    padding-top:1%;
    padding-bottom:1%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.cardtag {
    margin: 0px 0px 0px 0px;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    font-size: 12px;
    border-radius: 5px;
}

.cardtitle {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.carddescription {
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 1%;
    margin-bottom: 0%;
}

.cardfooter {
    display: flex;
    justify-content: space-between;
    background-color: #1a19198e;
    padding-top:2%;
    padding-bottom:2%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cardfooterlivrable {
    background-color: #1a19198e;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 2vh;
}

.cardtextfooter {
    margin-left: 4%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 9px;
}

.product-card {
    background-color: #f0f0f0;
    transform: rotate(-45deg);
    position: relative;
    top: 50px;
    left: 50px;
    width: 300px;
    max-height: 200px;
  }

.cardcategorie {
    background-color:#1a191975;
    margin-top: 2%;
    border: 1px solid #95959550;
    border-radius: 5px;

    &:hover {
        border: 1px solid _palette(accent-3);
        cursor: pointer;
    }
}

.cardgridcategorie {
    position: relative;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4%;
    margin-bottom: 5%;
}

.cardfootercategorie {
    display: flex;
    justify-content: space-between;
    background-color: #1a19198e;
    padding-top:4%;
    padding-bottom:4%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cardheadercategorie {
    display: flex;
    justify-content: space-between;
    background-color: #1a19198e;
    padding-top:2%;
    padding-bottom:2%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.cardstructure {
    position: relative;
}

  .product-left {
    width: 70%;
    height: 400px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .leftvert {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: left;
    letter-spacing: 0cm;
    color:#ffffffcd
  }

  .leftsup {
    writing-mode: none;
    text-orientation: none;
    text-align: left;
    align-self: flex-start;
    margin-right: 2%;
    color: #ffffffa8;
  }

  .algoleftsup {
    color: #ffffffa8;
    margin-left: auto;
    margin-right: auto;
  }

.product-right {
    position: absolute;
    padding-left: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 6%;
    top: 8%;
    left: 10%;
    width: 90%;
    height: 330px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    z-index: 0;
}

.hauteurblockdetail {
    height: 130px;
}

.textcardrigth {
    text-align: justify;
    margin: 0;
    padding: 0;
    color: rgb(222, 222, 222);
    z-index: 2;
    font-size: 0.7em;
}

.buttoncatecard {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    border-bottom: solid 1px dimgray;
    z-index: 2;
}

.textcardcate {
    margin-right: 4%;
    padding-bottom: 0;
    margin-bottom: 0;
    z-index: 2;

    &:hover {
        cursor: pointer;
    }
}

.newheadercard {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    height: 80px;
}

.headerlike {
    display: flex;
    justify-content: flex-start;
}

.newcardtextfooter {
    margin-top: 2%;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0;
    font-size: 0.5em;
    z-index: 2;
}

.texttitrecard {
    font-size:0.9em;
}

.imgcard {
    position: absolute;
    bottom:20%;
    left:5%;
    z-index: 1;
    max-width: 20%;
    height: auto;

}

// cartes contributeurs

.contribcardgrid {
    position: relative;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    margin-bottom: 3%;
}

.cardcontributeur {
    padding:5%;
    height: auto;
    background-color: #252525;
    border: solid 1px #1f1f1f;
    border-radius: 4px;
}

.cardcontributeur:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.cardcontribheader {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
}

.titlecontribcard {
    font-size: 0.7em;
    color: _palette(accent-4)
}

.heaicardcontrib {
    min-height: 280px;
}

.cardiconcontact {
    display: flex;
    justify-content: center;
    gap: 5%;
    font-size: 1.6em;
}

.iconcontrib:hover {
    color: _palette(accent-4);
    cursor: pointer;
}

.titlecardcategoriecontrib {
    font-size: 0.5em;
    color: _palette(accent-3)
}
.corpscardcontrib {
    padding-top: 5%;
    padding-bottom: 5%;
}

.littletextcardcontrib {
    padding: 0;
    margin-bottom: 4%;
    font-size: 0.7em;
}

// cartes articles scientifique

.cardarticle {
    padding:2%;
    height: auto;
    background-color: #252525;
    border: solid 1px #1f1f1f;
    border-radius: 4px;
}

.titlearticlecard {
    font-size: 0.65em;
    color: _palette(accent-4);
    text-align: left;
}

.subtitlearticlecard {
    font-size: 0.5em;
    color: whitesmoke;
    text-align: left;
}

.subtitlearticlecarddate {
    font-size: 0.5em;
    text-align: left;
    font-style: italic;
    color: #6ff105;
}

.abstractarticle {
    font-size: 0.8em;
    margin: 0;
    text-align: justify;
    padding-top: 2%;
}

.buttonsafe {
    margin-top: 1%;
    margin-left: 1%;
}

.cardarticle:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.tagsarticle {
    display: flex;
    justify-content: flex-start;
    gap: 2%;
}

.tagtextarticle {
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: _palette(accent-3);
    color: black;
    font-size: 0.7em;
    font-weight: bold;
    border-radius: 5px;
    margin:0;
}

.boutonarticle {
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
}

.gridarticlescientifique{
    margin-bottom: 3%;
}