// modal generaux

.containermodalcontact {
  width:100%;
  margin-left:auto;
  margin-right:auto;

  h2, h4, h6 {
    text-align: center;
  }

  h4 {
    color: #30c475;
  }

  h4, h6 {
    margin-top: 1%;
  }

  h2 {
    margin-bottom: 2em;
   }

  h6 {
    font-size: xx-small;
  }

}

.closeiconmodal {
  position: absolute;
  top: 0.7em;
  right: 0.7em;
}

.iconclosemodalcontact {
  font-size: 35px;
  cursor: pointer;
 }

.iconmodalcontact {
  font-size: 30px;
  color:#ec4710
}

.iconcontainermodalcontact {
  display:flex;
  justify-content:center;
  margin-top:0.2em;
  margin-bottom:1.2em
}

// modal connection

.textfailmodalsignin {
  padding:0;
  margin:0;
  font-size:0.6em;
  text-align:center;
  color:#ff3d3d;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0.4em;
}

.containerbutton {
  display:flex;
  justify-content:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:6%;
  margin-bottom:2%;
}

.buttoncoreconection {
  width: 80%;
  height: 2em;
}

.googlecontainerbutton {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  justify-content:center;
  align-items:center;
}

.linkresetpassword {
  margin:0;
  margin-bottom:2%;
  width:50%
}

.textlinkpassword {
  padding:0;
  margin:0;
  font-size:0.6em;
  font-weight:bold;
  text-align:right;
  color:_palette(accent-4)
}

.containerlinktext {
  display:flex;
  justify-content:space-between;
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

.textlinkinscription {
  padding:0;
  margin:0;
  font-size:0.6em;
  font-weight:bold;
  text-align:right;
  color:silver;
  display:flex;
  justify-content:flex-start;
}

.linkinscription {
  margin-left:2%;
  color:#0ddb6d;
}

.firsttextcontent {
  width: 50%
}

.continueravectext {
  border-bottom:1px solid dimgray;
  width:80%;
  text-align:center;
  font-style:italic;
  margin-left:auto;
  margin-right:auto;
  margin-top:3%;
  margin-bottom:2vh;
  color:silver
}

.containerbuttongoogle {
  display:flex;
  justify-content:center;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  margin-bottom:2%;
}

.bocktextinputconnection {
  width:80%;
  margin-left:auto;
  margin-right:auto;
}