.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    width:80%;
    margin-left: auto;
    margin-right: auto;
  }
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.blockvideo {
  width:100%;
  display:flex;
  justify-content:center;
  padding-top: (_size(section-spacing) * 1.2);
}

.centervideo {
  width: 100%;

  h2 {
    text-align: center;
  }
}