.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    inset: 0 75% 0 0;
    background-color: hsla(0,2%,10%,0.558);
    backdrop-filter: blur(10px);
    width: 14rem;
}

.sidebar-mobile {
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    flex-direction: row;
    width: 100%;
    background-color: #232323a1;
    z-index: 10000000;
}

nav .ul-item {
    display: flex;
    flex-direction: row;
    margin-block: .1rem;
    list-style: none;
}

nav .ul-item.oicon a {
    display: flex;
    flex-direction: row;
}

nav .ul-item.oicon li::after {
    content: '';
    position: absolute;
    width: 1%;
    height: 4%;
    background-color: _palette(fg);
    right: 0;
}

nav .ul-item li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    padding-block: 1rem;
    margin-block: .1rem;
}

nav .ul-item li .icon {
    color: _palette(fg);
    margin-inline: 1rem;
    font-size: 20px;
}

nav .ul-item li .icon:hover {
    color: _palette(accent-3);
    margin-inline: 1rem;
    font-size: 20px;
}

nav .ul-item li a {
    text-transform: uppercase;
    text-decoration: none;
    color: _palette(fg);
    border-left: 1px solid white;
    padding-left: 2rem;
    font-size: 12px;
}
.menu-icon {
    margin-inline: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 30px;
    color: _palette(accent-4);
}

.menu-icon:hover {
    background-color: transparent;
}

.index-titre {
    color:inherit
}

.index-titre:hover {
    color:_palette(accent-4)
}

.profil-icon {
    margin-inline: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 30px;
}

.change-color-profil-icon {
    color: _palette(accent-3);
    cursor: pointer;
}

.change-color-profil-icon:hover {
    color: #00ff4c;
}

.change-color-icon {
    color: _palette(fg);
    cursor: pointer;
}

.change-color-icon:hover {
    color: _palette(accent-3);
}

.switch-icon {
    margin-inline: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 30px;
    color: _palette(accent-3);
}

.github-icon {
    margin-inline: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 30px;
    color: _palette(accent-3);
}

.base-icon {
    margin-inline: 1rem;
    font-size: 30px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.base-icon:hover {
    cursor:auto
}

nav .ul-item li:hover {
    transition: 1s ease;
    background-color: rgba(113, 255, 172, 0.082);
    border-radius: 100px;
    height: 100%;
    width: 100%;
    cursor:auto
}

.icon {
    cursor: pointer;
}

.iconspe {
    cursor: pointer;
}

.iconspe:hover {
    cursor: pointer;
    transition: 1s ease;
    color: _palette(accent-4);
}

.icon-footer {
    display: flex;
    flex-direction: row;
}

.icon-main {
    display: flex;
    flex-direction: row;
}


@media (max-width:900px) {
    nav .ul-item li:hover {
        transition: 1s ease;
        background-color: transparent;
        border-radius: 100px;
        height: 100%;
        width: 100%;
    }

    nav .ul-item li .icon {
        font-size: 20px;
    }

    nav .ul-item li .icon:hover {
        font-size: 20px;
    }

    .menu-icon, .profil-icon, .github-icon, .switch-icon {
        font-size: 20px;
    }

    .base-icon {
        font-size: 20px;
    }
}

.imageRot {
    :active {
        -webkit-animation:spin 2s ease-in-out;
        -moz-animation:spin 2s ease-in-out;
        animation:spin 2s ease-in-out;
        z-index: 100000000;
    }
 }
 @-moz-keyframes spin {
     100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
 }
 @-webkit-keyframes spin {
     100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
 }
 @keyframes spin { 
     100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
 }