.stattest {
    width: 100%;
}

.textstattest {
    margin-top: 2%;
}

.buttonstattest {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
}

.blockresult {
    width: 100%;
    margin-top: 2%;
}