.react-tabs {
    -webkit-tap-highlight-color: transparent;
  
    &__tab-list {
      border-bottom: 1px solid GrayText;
      margin: 0 5 0px;
      padding: 0;
    }
  
    &__tab {
      display: inline-block;
      border: 1px solid transparent;
    //   border-bottom: none;
      bottom: -1px;
      position: relative;
      list-style: none;
      padding: 6px 9px;
      background: #313131;
      border-color: Graytext;
      color: white;
      border-radius: 5px 5px 0 0;
      font-size: small;
      cursor: pointer;
  
  
      &--selected {
        background: _palette(accent-4);
        border-color: rgb(217, 217, 217);
        color: rgb(255, 255, 255);
        border-radius: 5px 5px 0 0;
        font-size: small;
      }
  
      &--disabled {
        color: GrayText;
        cursor: default;
      }
  
      &:focus {
        outline: none;
  
        &:after {
          content: "";
          position: absolute;
          text-align: center;
          height: 2px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          background: _palette(accent-3);
  
        }
      }
    }
  
    &__tab-panel {
      display: none;
  
      &--selected {
        display: block;
      }
    }
  }

.categorielink {
  cursor: pointer;
  margin-right: 2%;

  &:hover {
    color: _palette(accent-3);
  }
}