.inputcontainer {
    display: block;
    width: 40%;
}

.buttontextinput {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
    height: 40px;
}

.boxcontainerhori {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.graphpredcontainer {
    margin-top: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.containerminiinput {
    display: block;
    width: 100%;
    align-items: center;
    padding: 4px 16px;
    font-family: inherit;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
    border: 1px solid _palette(accent-3);
    background: _palette(fg-bold);
    transition: border .3s ease;
    
    &::placeholder {
        color: rgb(195, 195, 195);
    }
    &:focus {
        outline: none;
        border-color: _palette(accent-4);
    }
}

.form-group {
    position: relative;
    display: flex;
    width: 100%;
    padding-left: 5px;
    font-size: small;
    margin-top: 5%;
    margin-bottom: 5%;

    span {
        font-size: medium;
    }

    & > span,
    .containerminiinput {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .containerminiinput {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;
        font-size: small;
    }
    & > span {
        text-align: center;
        align-items: center;
        align-content: center;
        padding: 4px 12px;
        color: black;
        background: _palette(accent-3);
        border: 1px solid _palette(accent-3);
        transition: background .3s ease, border .3s ease, color .3s ease;
    }
    &:focus-within {
        & > span {
            color: white;
            background: _palette(accent-4);
            border-color: _palette(accent-4);
        }
    }
}

.focustextinput {
    color: black;
}

.focustextinput:focus {
    color: black;
    background-color: #bdddca;
    border: solid 0px transparent;
}