.menuparams {
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    background-color:whitesmoke;
    border-radius:2px;
    align-items:center;
    justify-content:center;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
    width:100%;
    font-size: 10px !important;
  }
  .menuparams:hover {
    background-color: silver;
  }

  .titlemenu{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: _palette(accent-3);
    color:#000000 !important;
    border-radius:2px;
    align-items:center;
    justify-content:center;
    text-align:center;
    text-decoration:none;
    width:100%;
    font-size: 12px !important;
    font-weight:400 !important
  }

  .titlemenudanger{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color:#d43030;
    color:#ffffff !important;
    border-radius:2px;
    align-items:center;
    justify-content:center;
    text-align:center;
    text-decoration:none;
    width:100%;
    font-size: 12px !important;
    font-weight:400 !important
  }

  .menuparamsdanger{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    background-color:whitesmoke;
    border-radius:2px;
    align-items:center;
    justify-content:center;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
    width:100%;
    font-size: 10px !important;
  }
  .menuparamsdanger:hover {
    background-color: rgb(236, 72, 61);
    color:#ffffff
  }

  .menuparamssuper {
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    background-color:whitesmoke;
    border-radius:2px;
    align-items:center;
    justify-content:center;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
    width:100%;
    font-size: 10px !important;
  }
  .menuparamssuper:hover {
    background-color: rgb(200, 255, 104);
  }

  .titlemenusuper{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgb(200, 255, 104);
    color:#000000 !important;
    border-radius:2px;
    align-items:center;
    justify-content:center;
    text-align:center;
    text-decoration:none;
    width:100%;
    font-size: 12px !important;
    font-weight:400 !important
  }