.directory {
  background: #242322;
  font-family: monospace;
  font-size: 16px;
  color: white;
  user-select: none;
  padding: 20px;
  border-radius: 0.4em;
}

.directory .tree,
.directory .tree-node,
.directory .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directory .tree-branch-wrapper,
.directory .tree-node__leaf {
  outline: none;
  outline: none;
}

.directory .tree-node {
  cursor: pointer;
}

.directory .tree-node:hover {
  background: rgba(255, 255, 255, 0.1);
}

.directory .tree .tree-node--focused {
  background: rgba(70, 138, 92, 0.62);
}

.directory .tree .tree-node--selected {
  background: rgba(49, 107, 72, 0.37);
}

.directory .tree-node__branch {
  display: block;
}

.directory .icon {
  vertical-align: middle;
  padding-right: 5px;
}

.treebutton {
  margin-left: 1em;
  background-color: _palette(accent-4);
  padding: 0.1em 0.6em;
  border-radius: 4px;
  font-size: 0.8em;
}

.tagtreedoc {
  display: flex;
  justify-content: flex-start;
}

.tagdoc {
  margin-right: 1em;
  background-color: _palette(accent-3);
  padding: 0.1em 0.6em;
  border-radius: 4px;
  font-size: 0.8em;
  color: black;
}

.containertreeinfo {
  padding-top: (_size(section-spacing) * 0.5);
}

.containertreearticle {
  padding-top: (_size(section-spacing) * 0.5);
  padding-bottom: (_size(section-spacing) * 1.2);
}