{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<div style="border-top: 2px solid #ddd; border-bottom: 3px solid #ddd; padding: 20px;">
    <h1 style="text-align: center">Bienvenue dans la communauté !</h1>
</div>

<div style="padding: 20px;">
    <p>{% blocktrans %}You're receiving this email because you need to finish activation process on {{ site_name }}.{% endblocktrans %}</p>

    <p style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
        <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}" style="display: inline-block; background-color: #f53900; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px; font-size: 1.2rem; font-weight: bold; text-transform: uppercase;">{% trans "Active ton compte" %}</a>
    </p>

    <p>{% trans "Thanks for using our site!" %}</p>

    <p style="border-top: 1px solid #ddd; padding-top: 20px;">{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
</div>
{% endblock html_body %}